#root {
  padding: 2rem;
  width: 100%;
}

.dark-mode-btn {
  position: absolute;
  top: 0.5em;
  right: 1em;
  padding: 0.5em;
  border: 1px solid transparent;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}

.def-container {
  margin: 2rem 0;
}

.antonyms {
  width: 700px;
  border-bottom: 2px solid #7e7c7c;
  padding-bottom: 5px;
}

.antonyms p {
  width: auto;
  margin: 0 0.5rem;
}

.synonyms {
  display: flex;
  flex-direction: column;
}
.synonyms p {
  width: auto;
  margin: 0 0.5rem;
}

.phonetics {
  color: #cf9b9b;
}

.title h1 {
  border-bottom: #7e7c7c 2px solid;
  padding: 0;
}
